/* ---------------- CSS RESET ---------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.25;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General button style (reset) */
button {
	/*border: none;*/
	color: inherit;
	background: none;
	cursor: pointer;
	outline: none;
	position: relative;
	text-align: center;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* ---------------- TYPE ---------------*/
@font-face {
	font-family:Monoxil;
	src: url('fonts/Monoxil_Regular.otf') format('otf');
}

body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	color: #242424;
}

h1 {
	font-family: Monoxil, monospace;
	font-size: 2.5rem;
	color: #cc33ff;
}

h2 {
	font-family: Monoxil, monospace;
	font-size: 1.5rem;
	text-align: left;
	color: #9933ff;
}

h3 {
	font-weight: bold;
}

a {
	color: #242424;
}

a:hover {
	color: #0066ff;
}

.instructions{
	text-align: left;
	padding: 0.5rem 0;
}

/* ---------------- LAYOUT ---------------*/
.wrapper{ 
	margin: 0 auto;
	max-width: 64rem;
	padding: 2%;
}

header {
	padding: 0 0 1rem 0;
}

.new_project{
	padding: 1rem 1rem 2rem 1rem;
	margin: 0 auto;
	width: 95%;
}

#viewB{
	display: none;
}

.feed {
	margin: 0 auto;
	width: 95%;
}

.feed_card {
	float: left;
	display: block;
	width: 22%;
	padding: 1rem 1.5%;
}

.feed_card img {
	max-width: 100%;
}

.feed_pattern_name {
	font-size: 1.25rem;
	padding: .5rem 0 .25rem 0;
}

.feed_attribution {
	color: #242424;
}

.project_content {
	margin: 0 auto;
	width: 60%;
}

button {
	padding: 1.5rem 3rem;
	margin: 0 auto;
	font-family: Monoxil, monospace;
	font-size: 1.5rem;
}

.button1 {
	border: none;
	background-color: #cc33ff;
	color: #ffffff;
	display: block;
}

.button1:hover {
	background-color: #ff6666;
	color: #ffffff;
}

.button2 {
	background-color: #ffffff;
	color: #cc33ff;
	border: 3px solid #cc33ff;
	margin: 1rem .5rem;
}

.button2:hover {
	background-color: #cc33ff;
	color: #ffffff;
}

.butts {
text-align: center;
padding-bottom: 2rem;
}

.yarn, .needle, .item{
	float:left;
	display:block;
	width:100%;
	padding: .5rem 0;
}

svg {
	padding: .5rem 0;
	fill: #9933ff;
}

svg:hover{
	fill: #ff6666;
}

/* ---------------- Media Queries ---------------*/

@media screen and (max-width: 966px){
	.feed_card {
		width: 30%;
		padding: 1rem 1.5%;
	}

}
@media screen and (max-width: 720px){
	.feed_card {
		width: 46%;
		padding: 1rem 2%;
	}

}
@media screen and (max-width: 600px){
	h1{
		font-size: 2rem;
	}
	.project_content {
		width: 90%;
		margin: 0 auto;
	}
	.button {
		font-size: 1.25rem;
		padding: 1.5rem 1rem;
	}
	.button2 {
		width:90%;
	}
	.feed_card {
		width: 90%;
		padding: 1rem 0;
	}
}

